@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
* {
  box-sizing: border-box; }

body {
  font-family: 'Noto Sans Japanese', sans-serif; }

/*
  properties
*/
.v-middle {
  vertical-align: middle; }

/*
  content wrapper
*/
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto; }

.content-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; }

@media screen and (min-width: 768px) {
  .container {
    width: 768px; }

  .content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .content-body {
    width: 768px; } }
@media screen and (min-width: 992px) {
  .container {
    width: 992px; }

  .content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .content-body {
    width: 992px; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px; }

  .content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .content-body {
    width: 1200px; } }
/*
 content-aside
*/
.categories {
  column-count: 2;
  column-gap: 0px; }

.category {
  break-inside: avoid-column; }

.effect img {
  max-width: 100%; }

.effect li {
  position: relative; }

.effect .caption {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 1400ms ease; }

.caption span {
  position: absolute;
  top: 100%;
  left: 60%;
  font-size: 3em;
  transition: all 1400ms ease; }

.effect .caption:hover {
  opacity: 0.5;
  background-color: white; }

.effect .caption:hover span {
  transform: translate(0, -110%); }

.image_col img {
  max-width: 100%; }

.image_col {
  column-count: 3; }
